<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#!">My Hearing loss journey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/blog']" routerLinkActive="router-link-active"  href="#">Blog</a></li>
                <li class="nav-item"><a class="nav-link"    [routerLink]="['/about']" routerLinkActive="router-link-active" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" href="#!">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>

<div class="card ">
  <div class="img1">
  <img src="../../assets/pic1.jpeg" class="card-img-top"   alt="...">
  <div class="card-body">
    <div class="small text-muted">February 20, 2022</div>
    <h2 class="card-title">what happens when going for audiology appointment</h2>
    <p class="card-text">Your audiologist will talk to you about your type of hearing loss and what is likely to have caused it.
      After your audiologist talks with you, they will carry out some tests to determine how well you can hear. There are three main types of test used to assess hearing at this stage: an otoscopy, tympanometry and audiometry. The otoscopy involves using an instrument called an otoscope to look inside the ear canal. This examination enables your audiologist to check for structural issues or blockages, which may be affecting your hearing, such as a buildup of earwax. Tympanometry tests the function of the middle ear, and it enables your audiologist to check the response of the eardrum. This test can help to highlight problems like fluid on the eardrum or an ear infection. Audiometry measures your ability to hear sounds. This part of the appointment will take place in a soundproof room, and you’ll be asked to respond to sounds that you hear by raising your hand.


    </p>
    <br>
    <p class="card-text">Once your audiologist has completed the testing process, they will discuss the findings with you. If you’re experiencing difficulties with your hearing, and there’s a treatable cause, for example, excessive earwax or fluid in the ear, your audiologist will discuss treatment options with you. If you have substantial hearing loss, your audiologist may recommend hearing aids. If this is the case, they can go through the options with you, answer any questions and give you some demonstrations. A follow-up session will then be arranged to talk in more detail and order and customize your hearing aids.

    </p>
    <h5 class="card-title">
    </h5>
    <p class="card-text">It can be daunting going to any kind of medical appointment. If you’ve got a session booked with an audiologist, try and relax. Hopefully, this guide has given you an idea of what to expect and helped to reassure you that there’s nothing to worry about.

    </p>
      <img src="assets/img2.jpeg" alt="Avatar" class="photo"> <br>
      <span class="author">Katlego Lefifi</span>

    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
</div>


