<header class='masthead'>
    <p class='masthead-intro'>Hi I'm</p>
    <h1 class='masthead-heading'>Katlego!</h1>
  </header>
  <section class="introduction-section">
      <h1>Introduction</h1>
      <p>My name is katlego lefifi. I am from south africa in a place called hammanskraal. I enjoy reading books, travelling and writing.</p>
  </section>
  <section class="location-section">
      <h1>Why I started this blog</h1>
      <p>I started this blog in 2021 around january. The blog is about my experience living with hearing loss and giving advices to others with hearing loss to motivate them and learn about hearing loss. </p>
      <br>

  </section>
  <footer class="content-footer">
      <p>Say hi to me on these social networks:</p>
      <ul class="social">
          <li><a class="css-is-deranged" href="_INSERT_GITHUB_URL_HERE_">Facebook</a></li>
          <li><a class="css-is-deranged" href="_INSERT_TWITTER_URL_HERE_">Twitter</a></li>
          <li><a class="css-is-deranged" href="_INSERT_GOOGLE+_URL_HERE_">Instagram</a></li>
      </ul>
    
  </footer>