<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#!">My Hearing loss journey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/blog']" routerLinkActive="router-link-active"  href="#">Blog</a></li>
                <li class="nav-item"><a class="nav-link"    [routerLink]="['/about']" routerLinkActive="router-link-active" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" href="#!">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>

<div class="card ">
  <div class="img1">
  <img src="../../assets/pic3.jpeg"  class="card-img-top"   alt="...">
  <div class="card-body">
    <div class="small text-muted">March 3, 2022</div>
    <h2 class="card-title">Tips for taking care of hearing aid device</h2>
    <p class="card-text">The following suggestions will help you care for your hearing aids:
      <br>
      1. Keep hearing aids away from heat and moisture.
      <br>
      2. Replace dead batteries immediately.
      <br>
      3. Clean hearing aids as instructed.
     <br>
      4. Do not use hairspray or other hair care products while wearing hearing aids.
     <br>
      5. Turn off hearing aids when they are not in use.
     <br>
      6. Keep replacement batteries and small aids away from children and pets.
     <br>
     7. Be careful not to drop the hearing aid.
    </p>
    <br>
    <p class="card-text"></p>
    <h5 class="card-title">
    </h5>
    <p class="card-text"></p>
      <img src="assets/img2.jpeg" alt="Avatar" class="photo"> <br>
      <span class="author">Katlego Lefifi</span>

    <p class="card-text"><small class="text-muted">Last updated 7 mins ago</small></p>
  </div>
</div>
</div>


