<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#!">My Hearing loss journey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/blog']" routerLinkActive="router-link-active"  href="#">Blog</a></li>
                <li class="nav-item"><a class="nav-link"    [routerLink]="['/about']" routerLinkActive="router-link-active" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" href="#!">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>

<div class="card ">
  <div class="img1">
  <img src="../../assets/duy-pham-Cecb0_8Hx-o-unsplash.jpg" class="card-img-top"   alt="...">
  <div class="card-body">
    <div class="small text-muted">January 1, 2022</div>
    <h2 class="card-title">How to improve social life when you have a hearing loss</h2>
    <p class="card-text">Wearing a hearing aid make it easier to hear sound around you. Many people adjust quickly to their hearing aids. For some who have gone years without hearing sounds clearly, hearing aids can give life a fresh new spark and allow you to enjoy activities that you were once unable to.    </p>
    <br>
    <p class="card-text">It is difficult socialising and trying to make new friends when you can’t hear and have to wonder what everyone is saying and if they’re saying something about you. It’s even worse when people make fun of you when you’ve misunderstood what was said. You lose confidence, get frustrated and give up.

    </p>
    <h5 class="card-title">
    </h5>
    <p class="card-text">I recall an incident in my first job, working in a supermarket in Gibraltar. I was on a checkout till and had to deal with the customers, which was nerve wracking. What I didn’t expect was for a colleague – a colleague! – to make fun of me in front of all the customers in the queue, publicly making fun of the fact that I was deaf and couldn’t understand what was said some of the time. She thought it was hilarious. Nobody said anything to her. That kind of incident can knock your confidence, especially when you’re just fresh out of school.

    </p>
      <img src="assets/img2.jpeg" alt="Avatar" class="photo"> <br>
      <span class="author">Katlego Lefifi</span>

    <p class="card-text"><small class="text-muted">Last updated 8 mins ago</small></p>
  </div>
</div>
</div>


