<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#!">My Hearing loss journey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/blog']" routerLinkActive="router-link-active"  href="#">Blog</a></li>
                <li class="nav-item"><a class="nav-link"    [routerLink]="['/about']" routerLinkActive="router-link-active" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" href="#!">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>

<div class="card ">
  <div class="img1">
  <img src="../../assets/pexels-andrea-piacquadio-3760607.jpg" class="card-img-top"   alt="...">
  <div class="card-body">
    <div class="small text-muted">February 5, 2022</div>
    <h2 class="card-title">When did i find out that i have a hearing loss</h2>
    <p class="card-text">difficulty hearing other people clearly and misunderstanding what they say, especially in noisy places. asking people to repeat themselves. listening to music or watching TV with the volume higher than other people need. difficulty hearing on the phone.
    </p>
    <br>
    <p class="card-text">Over 5% of the world’s population – or 430 million people – require rehabilitation to address their ‘disabling’ hearing loss (432 million adults and 34 million children). It is estimated that by 2050 over 700 million people – or one in every ten people – will have disabling hearing loss.

    </p>
    <h5 class="card-title">Deafness and hearing loss

    </h5>
    <p class="card-text">‘Disabling’ hearing loss refers to hearing loss greater than 35 decibels (dB) in the better hearing ear. Nearly 80% of people with disabling hearing loss live in low- and middle-income countries. The prevalence of hearing loss increases with age, among those older than 60 years, over 25% are affected by disabling hearing loss. 
      Many of the causes that lead to hearing loss can be avoided through public health strategies and clinical interventions implemented across the life course.
      Prevention of hearing loss is essential throughout the life course – from prenatal and perinatal periods to older age. In children, nearly 60% of hearing loss is due to avoidable causes that can be prevented through implementation of public health measures. Likewise, in adults, most common causes of hearing loss, such as exposure to loud sounds and ototoxic medicines, are preventable.



    </p>
      <img src="assets/img2.jpeg" alt="Avatar" class="photo"> <br>
      <span class="author">Katlego Lefifi</span>

    <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
  </div>
</div>
</div>


