<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="registerForm"   class="register">

                <div class="form-outline mb-4">
                  <input formControlName="firstname" type="text"  class="form-control form-control-lg"  placeholder="First name"/>
                  <div *ngIf="f.firstname.touched && f.firstname.invalid" class="alert alert-danger">
                    <div *ngIf="f.firstname.errors?.['required']">First name is required.</div>  
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input formControlName = "lastname"type="text" class="form-control form-control-lg"  placeholder="Last name"/>
                  <div *ngIf="f.lastname.touched && f.lastname.invalid" class="alert alert-danger">
                    <div *ngIf="f.lastname.errors?.['required']">Last name is required.</div>  
                    </div>
                </div>

                <div class="form-outline mb-4">
                  <input formControlName = "email" type="email" class="form-control form-control-lg" placeholder="Email" />
                  <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors?.['required']">Email is required.</div>
                    <div *ngIf="f.email.errors?.['email']">Please enter valid email address.</div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input formControlName = "password"type="password" class="form-control form-control-lg" placeholder="Password"/>
                  <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                    <div *ngIf="f.password.errors?.['required']">Password is required.</div>
                   </div>
                </div>

                <div class="form-outline mb-4">
                  <input formControlName = "repeatpassword" type="password"  class="form-control form-control-lg" placeholder="Repeat password"/>
                  <div *ngIf="f.repeatpassword.touched && f.repeatpassword.invalid" class="alert alert-danger">
                    <div *ngIf="f.repeatpassword.errors?.['required']">Repeat Password is required.</div>
                   </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button  (click)="register()"  [routerLink]="['/home']" routerLinkActive="router-link-active" type="button" class="btn1 btn-success btn-lg">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body" [routerLink]="['/login']"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>